body{
    background: orange;
}
.toparea{
    background: #B65651;
    height: 45px;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
.titlearea{
    background: #F2C38B;
    padding: 30px 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
   
    color: #74353F;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 6px 2px rgb(92, 92, 92, 0.2);
}
#subheading{
    font-size: 24px;
    color: #000;
    font-weight: 500;
}
.col-3 img{
    height: 120px;
    width: 120px;
}
.menubar{
    background: #fff;
    word-spacing: 15px;
    text-align: center;
}
.slidearea{
    background: #fff;
    
}
.principal-message{
    background: #fff;
    text-align: center;
    padding-top: 70px;
}
.principal-message .row .col-5 {
    margin-left: -100px;
}
h1{
    font-size: 25px;
}
.principal-message p{
    text-align: justify;
    
}
.mr{
    padding-left: 515px;
    font-weight: bold;
}
.prince{
    padding-left: 520px;
}
.course{
    /*background-image: url("parallax.jpg");*/
    background: lightgrey;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-attachment: local;
}
.course .box{
    background: #fff;
    margin: 20px 0;
    width: 220px;
    height: 300px;
    border: 2px solid #a09b9b;
    cursor: pointer;
   
}
.course .box img{
    padding: 25px 25px;
    height: 190px;
    width: 190px;
    transition-property: transform;
    transition-duration: 3s;
    
}
.course .box img:hover{
    transform: rotate(360deg);
}
.course .box p{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;
    
}
h6{
    background: #ffffff;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 15px;
    color: grey;
}
h6 a{
    color: brown;
}
.footer{
    background-color: #1A1A1A;
    padding: 50px 0;
    padding: 40px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 22%;
    
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91263;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul{
    line-height: 30px;
}
.footer-col ul li :not(:last-child){
    margin-bottom: 10px;
    
}
.footer-col ul li a{
    font-size: 16px;
    color: #D37F54;
    text-decoration: none;
    font-weight: 700;
    margin-left: -40px;
    display: block;
    transition: all 0.9s ease;
    
}
.footer-col ul li a:hover{
    color: #fff;
   
}
.lefthover ul li a:hover{
    color: #fff;
    padding: 0 10px;
}
.footer-col ul li .name a{
    font-size: 30px;
    color: #E5B87F;
}
#name{
    font-size: 16px;
    color: #fcca99;
    line-height: 24px;
}
#address{
    font-size: 16px;
    color: #f0cc95;
    font-weight: 350;
    line-height: 24px;
}
.menuitems{
    margin-left: 20px;
}
iframe{
    height: 120px;
    width: 120px;
    float: left;
    
}
.design{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-top: 2px solid rgba(252, 250, 250, 0.5);
    padding-top: 15px;
}
i{
    font-size: 17px; 
}
